// colors

$yellow: #FFE600;
$black: #333333;
$dark-gray: #666666;
$light-gray: #999999;
$white: #EEEEEE;
$blue: #3483FA;

//space 

$min-space: 16px;
$max-space: 32px;

// font family
$font: proxima-nova, sans-serif;

// font size
$font-input: 18px $font;
$font-title: 28px $font;
$font-number: 46px $font;
$font-label: 14px $font;
$font-subtitle: 24px $font;
$font-text: 12px $font;
 
